html {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wbe-mapping-title {
    font-size: 20px;
    padding: 10px;
}

.wbe-mapping-tool-name {
    color: darkblue;
    font-size: 22px;
}

.wbe-processors table, th, td {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}

.wbe-processors-title th td, .wbe-processors-container th td {
    display: inline;
}

.wbe-table-border {
    border: 1px solid darkblue;
}

.wbe-action-name-title {
    position: absolute;
    color: darkred;
    text-align: left;
    width: 400px;
    padding: 10px;
}

.wbe-event-type-title {
    text-align: right;
    min-width: 100px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wbe-processors-col1 {
    text-align: center;
    width: 1%;
    min-width: 50px;
}

.wbe-processors-col2 {
    padding-left: 10px;
    text-align: left;
    width: 80%;
    min-width: 800px;
}

.wbe-processors-col3 {
    text-align: center;
    width: 3%;
    min-width: 70px;
}
